@media only screen and(min-width:1400px){
    
    .page-wrap{
        
        .content{
            width: calc(50% + 450px);
            margin-left: calc(50% - 450px);
        }
        
        .site-nav{
            width: calc(50% - 450px);
        }
    }

}