$site-nav-width:220px;

.site-nav{
    position:fixed;
    @media only screen and(min-width:960px){
        
        position:absolute;
    
    }
    
    overflow:visible;
    z-index:10;
    background-color:$fsd-white;
    top:0;
    height:calc(100vh + #{$top-menu-height});
    transform:translate3d(0,0,0);
    
    
    
    .inner{
        padding:$base-margin;
    }
    
    width:$site-nav-width;
    right:-$site-nav-width;
    transition: right 200ms;
    box-shadow:-1px -1px 5px rgba($fsd-black,.3);
    

    @media only screen and(min-width:960px){
        left:0;
        transition:left 0ms;
        box-shadow: none;
    }
    
    padding-top:$header-bar-height + $top-menu-height;
    
    @media only screen and(min-width:768px){
        padding-top:$header-bar-height-large + $top-menu-height;
        
    }
    
    &.show{
        right:0;
    }
    
    &.fixed{
        position:fixed;
        height:100vh;
        padding-top:$header-bar-height;
    
        @media only screen and(min-width:768px){
            padding-top:$header-bar-height-large;

        }
    }
    
    
}

.site-nav-menu{

    font-weight:$base-font-weight-2;
    padding:15px 20px;
    
    li{
        position:relative;
        
        &:before{
            display: block;
            position:absolute;
            overflow: visible;
            left:-40px;
            top:18px;
            content:'';
            border-top: 0px solid transparent;
            border-bottom: 0px solid transparent;
            border-left: 0px solid $fsd-color-red;
            transition:border-left 100ms, border-bottom 100ms, border-top 100ms, top 100ms ;
            
        }
    }
    
    
    a{
        display: block;
        transition: color 120ms;
        padding:12px 0px;
        line-height:1.2;
        
        &:hover{
            color: $fsd-color-red;
        }
    }
    
    .current-menu-item,
    .current-menu-ancestor,
    .show-submenu{
        
        &:before{
            top:13px;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-left: 10px solid $fsd-color-red;
        }
        
        >a{
            color:$fsd-color-red;
            font-weight:$base-font-weight-3;
        }
        
        .sub-menu{
            display: block;
            opacity:1;
            height:auto;
        }
    }
    
    
    .sub-menu{
        height:0;
        opacity:0;
        left:0;
        transition-delay: 500ms;
        transition:opacity 0s;
        overflow:hidden;
        padding-left:$base-margin;
        
        .current-menu-item{
            
            &:before{
                display: none;
            }
            
            >a{
                color:$fsd-color-red;
                font-weight:$base-font-weight;
                
            }
            
        }
        
        a{
            color:lighten($fsd-black,20);
            font-weight:$base-font-weight;
            
            &:hover{
                    color: $fsd-color-red;
                }
        }   
    }
}

@media only screen and(min-width:960px){

    .site-nav-menu>li{
    
        &:after{
            display: block;
            content: '';
            position: absolute;
            bottom: 15px;
            left: 0px;
            top: 15px;
            transition: top 0s, bottom, 0s, left 0s, right 0s,;
            transition-delay: 500ms;
            right: -40px;
            z-index:1;
            
        }
        
        &:hover:after {
            top:-5px;
            bottom:-15px;
            left:-50px;
            right:-50px;
            transition-delay:0s;
            z-index:2;
        }

        &:hover> .sub-menu{
            display: block;
            position:absolute;
            background-color:white;
            left:$site-nav-width - $base-margin*2;

            @media only screen and(min-width:1400px){
                left: calc(100% + 40px);
            }

            z-index:10;
            top:0;
            white-space: nowrap;
            padding:$base-margin/2 $base-margin;
            box-shadow: $base-shadow;
            opacity:1;
            transition: opacity .05s, left .1s;
            transition-delay: 0s;
            height:auto;
        }
    }
    .site-nav-menu .current-menu-item:hover > .sub-menu,
    .site-nav-menu .current-menu-ancestor:hover > .sub-menu,
    .site-nav-menu .show-submenu:hover > .sub-menu{
        position: relative;
        box-shadow:none;
        padding:0 $base-margin;
        left:0;

        white-space:normal;
    }

}
