body .wp-caption { 
    
    max-width: 100%; 
    position: relative;
    
    .wp-caption-text{
        @extend .arrow-link;
        position:absolute;
        left:0;
        top:50%;
        transform: translate(0,-50%);
        cursor:pointer;
        
    }
    
    a:after{
        position:absolute;
        z-index:2;
        content:'';
        top:0;
        left:0;
        bottom:0;
        right:0;
    }
    
    &:hover .wp-caption-text{
        background-color:lighten($fsd-color-red,10); 
    
        &:after{
            border-left: 20px solid lighten($fsd-color-red,10);
        }
    }
}